<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_INamingService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IEpcisEventService" maxReceivedMessageSize="750000" maxBufferPoolSize="750000">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dotnet4.im.uu.se/vsdev/matno755/1/IIService.svc/NamingService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INamingService"
        contract="ExternalServices.INamingService" name="WSHttpBinding_INamingService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://dotnet4.im.uu.se/vsdev/matno755/1/IIService.svc/EventService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEpcisEventService"
        contract="ExternalServices.IEpcisEventService" name="WSHttpBinding_IEpcisEventService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
